* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; /* Logo, Menu, Help */
    justify-items: center;
    align-items: center;
    background-color: #333;
    padding: 15px 30px;
}

.logo {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-self: start; /* Align the logo to the left */
}

.botton {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
    justify-items: center;
}

.li {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.help {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-self: end; /* Align help to the right */
}

.layout1 {
    border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    padding: 1em 4em;
    height: 40vh;
    text-align: center;
}

.l1 {
    list-style-type: none;
    border: 2px solid blue;
    width: 100%;
    height: 70%;
}

.layout2 {
    border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    padding: 1em 4em;
    height: 40vh;
    text-align: center;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: grid; 
    grid-template-columns: 1fr; 
    justify-items: center; 
    align-items: center; 
    position: relative; 
    margin-top: auto; 
}
